/* Gilroy-Medium.ttf */
@font-face {
    font-family: 'Gilroy';
    src: url('https://github.com/babenkonetframe/komen-consultancy/raw/refs/heads/main/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Gilroy-SemiBold.ttf */
@font-face {
    font-family: 'Gilroy';
    src: url('https://github.com/babenkonetframe/komen-consultancy/raw/refs/heads/main/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Gilroy-Bold.ttf */
@font-face {
    font-family: 'Gilroy';
    src: url('https://github.com/babenkonetframe/komen-consultancy/raw/refs/heads/main/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Gilroy-Regular.ttf */
@font-face {
    font-family: 'Gilroy';
    src: url('https://github.com/babenkonetframe/komen-consultancy/raw/refs/heads/main/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}